.title{
  background-color: black;
}
#signInForm{
  position: absolute;
  right: 110px;
  top: 12px;
}
.inscri{
  text-align: center;
  margin: 15px;
}
.navbar-brand{
  text-align: center;
}
input{
  text-align: center;
}
#contactform, #news{
  text-align: center;
}
img{
  width: 100%;
}
.box {
  padding: 0;
  width: auto;
}
.box:hover{
  transform: perspective(3px) translateZ(0);
  transition-duration: 0.5s;
}
img{
  width: auto;
}
