.title{
  background-color: black;
}
#signInForm{
  position: absolute;
  right: 110px;
  top: 12px;
}
.inscri{
  text-align: ;
  margin: 15px;
}
<<<<<<< HEAD
.navbar-brand{
  text-align: center;
}
input{
  text-align: center;
}
#contactform, #news{
  text-align: center;

}
h2{
  text-align: center;
  margin: 50px;
=======


/* css newsletter*/
.new{
  text-align: center;
>>>>>>> 85a353b0a683b4d8f90ae5fa2c6ba818a9e67046
}
